.github-link {
  font-size: 1.2rem;
}

.github-link:hover {
  color: var(--nav-clr);
}

.section {
    gap: 0.5rem;
}

/* Code from Andrew Zamora at CodePen START
https://codepen.io/andrewzamora/pen/BOqRJO */
.photo-container {
  max-width: 400px; /* ändrat av mig */
  height: auto; /* ändrat av mig */
  display: flex;
  justify-content: center;
  /*  box-shadow is from materialize css's website */
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.photo-container img {
  width: 100%;
  z-index: -2;
}

button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}
/* Code from Andrew Zamora at CodePen END
https://codepen.io/andrewzamora/pen/BOqRJO */


